body {
    background-color: slategray;
}

.fill{
    background-image: url('dollar.png');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.fillfive{
    background-image: url('5cent.png');
    position: relative;
    height: 150px;
    width: 146px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px rgb(91, 1, 1) solid;
    background-color: white;
}

.vending-machine{
    height: 640px;
    width: 320px;
    margin: 10px;
    border: 3px rgb(91, 1, 1) solid;
    background-color: white;
}

.hold{
    background-color: rgba(210, 105, 30, 0);
}

.hover{
    background-color: burlywood;
}

.invisible{
    display: none;
}